In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [53]:
df_train_stops = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')

In [23]:
len(df_train_stops['Stop Name'].unique())

376

### Making a df from turnstile data

In [24]:
dates = ['170624', '170617', '170610', '170603', '170527', '170520', '170513', '170506', '160625', '160618', '160611', '160604', '160528', '160521', '160514', '160507']

chronological_dates = list(reversed(dates))

In [25]:
turnstile_df = pd.DataFrame()

for date in chronological_dates:
    base = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
    url = base + date + '.txt'
    print(url)
    df = pd.read_csv(url)
    turnstile_df = pd.concat([turnstile_df, df], ignore_index=True)

http://web.mta.info/developers/data/nyct/turnstile/turnstile_160507.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160514.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160521.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160528.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160604.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160611.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160618.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160625.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170506.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170513.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170520.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170527.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170603.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170610.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170617.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170624.txt

In [335]:
for item in turnstile_df['STATION'].str.lower().unique():
    if item not in df_train_stops['Stop Name'].str.lower().unique():
       # print(item)

SyntaxError: unexpected EOF while parsing (<ipython-input-335-d36ef46cae38>, line 3)

In [167]:
df_SS = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_170916.txt')
                 #http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv')

In [168]:
turnstile_df.rename(columns = {turnstile_df.columns[-1]:'EXITS'}, inplace=True)
df_SS.rename(columns = {df_SS.columns[-1]:'EXITS'}, inplace=True)

### Get and Compute the total number of people in and out of each station, each day.

In [350]:
def ppl_per_int_turnst(datafrm, dt_start='06/09/2016', dt_end = '06/11/2016'): 

    """function to subtract the entries and exits collected at the starting hour for the day (i.e., 00:00:00 hrs) from the entries 
    and exits collected during the next collection time (i.e. 04:00:00 hrs) for each turnstile in MTA.
    ----------
    dt_start = list start day as string in format mm/dd/yyyy  
    dt_end = end day as string in format mm/dd/yyyy
    datafrm= dataframe from MTA turnstile data"""
    #dt = dt_start # needs to loop through a range of dates
    #if # find the hours for each row (TIME) and put into a list, then get max and min  & (datafrm.TIME == '00:00:00'), :])
    from datetime import datetime
    from datetime import timedelta
    
    def get_dates(start,stop):
        """ make a list of dates in format mm/dd/yyyy
        ------------------
        start = list start day as string in format mm/dd/yyyy
        end day as string in format mm/dd/yyyy"""
        days = [start]
        weekdays = []
        date_format = '%m/%d/%Y'
        date_ob_st = datetime.strptime(start,date_format)
        date_ob_end = datetime.strptime(stop,date_format)
        num_of_days_ob = str(date_ob_end - date_ob_st) 
        num_of_days = int(num_of_days_ob[0]) #total number of days to include
        for day in  range(1,num_of_days+1):
            one_day = date_ob_st + timedelta (days=day) 
            days.append(datetime.strftime(one_day,date_format))
            weekdays.append(one_day.weekday())
        return days
    
    dates = get_dates(dt_start,dt_end)
    
    for day in dates: 
        day1 = datafrm.loc[(datafrm.DATE == day ),['DATE','STATION','LINENAME','SCP','TIME','ENTRIES','EXITS']]
        lins = (day1['LINENAME'].unique())
        stns = (day1['STATION'].unique())
        turnstile_int = pd.DataFrame(index=range(len(datafrm)),columns=['DATE','STATION','LINENAME','ID','HOUR','ENTRIES','EXITS','WEEKDAY'])
        rowDF = 0 
        for ln in lins :
            lines = pd.DataFrame(columns=day1.columns)
            lines = day1.loc[(day1.LINENAME==ln)]
            for stn in stns:
                st = pd.DataFrame(columns=lines.columns)
                st = lines.loc[(day1.STATION==stn)]
                turnstiles = st['SCP'].unique()
                for turnstile in turnstiles:
                    turnstile_data = pd.DataFrame(columns=st.columns)
                    turnstile_data = st.loc[(st.SCP==turnstile)] 
                    for row in range(len(turnstile_data)-1) : # subtract counts from the previous count (Entries/Exits) and put into dataframe called turnstile_int
                        # if datetime.strptime(turnstile_data.TIME.iloc[row], '%H:%M:%S') < datetime.strptime(turnstile_data.TIME.iloc[row+1], '%H:%M:%S'):               
                        turnstile_int.DATE.iloc[rowDF] = turnstile_data.DATE.iloc[row]
                        turnstile_int.STATION.iloc[rowDF] = turnstile_data.STATION.iloc[row]
                        turnstile_int.ID.iloc[rowDF] = turnstile_data.SCP.iloc[row]
                        turnstile_int.LINENAME.iloc[rowDF] = turnstile_data.LINENAME.iloc[row]
                        turnstile_int.HOUR.iloc[rowDF] = turnstile_data.TIME.iloc[row+1]
                        wd = datetime.strptime(day,"%m/%d/%Y")
                        turnstile_int.WEEKDAY.iloc[rowDF] = wd.weekday()

                        if int(turnstile_data.ENTRIES.iloc[row+1]) == 0 : # if turnstyle resets, don't include a number for that interval
                            turnstile_int.ENTRIES.iloc[rowDF] = np.nan
                        else: 
                            turnstile_int.ENTRIES.iloc[rowDF] = abs(int(turnstile_data.ENTRIES.iloc[row+1]) - int(turnstile_data.ENTRIES.iloc[row]))  #subtract numb from start of day from end of day for each turnstyle

                        if int(turnstile_data.EXITS.iloc[row+1]) == 0 :# if turnstyle resets, don't include a number for that interval
                            turnstile_int.EXITS.iloc[rowDF] = np.nan      
                        else:                   
                            turnstile_int.EXITS.iloc[rowDF] = abs(int(turnstile_data.EXITS.iloc[row+1]) - int(turnstile_data.EXITS.iloc[row]))  #subtract numb from start of day from end of day for each turnstyle

                        rowDF = rowDF + 1 
    turnstile_int.dropna(subset=['DATE'], inplace = True)                    
    return turnstile_int

In [351]:
shinyhappypeople = ppl_per_int_turnst(df_SS, '09/09/2017','09/10/2017')
shinyhappypeople

,DATE,STATION,LINENAME,ID,HOUR,ENTRIES,EXITS,WEEKDAY
0,09/10/2017,59 ST,NQR456W,02-00-00,04:00:00,16,4,6
1,09/10/2017,59 ST,NQR456W,02-00-00,08:00:00,12,16,6
2,09/10/2017,59 ST,NQR456W,02-00-00,12:00:00,98,68,6
3,09/10/2017,59 ST,NQR456W,02-00-00,16:00:00,186,48,6
4,09/10/2017,59 ST,NQR456W,02-00-00,20:00:00,198,43,6
5,09/10/2017,59 ST,NQR456W,02-00-01,04:00:00,13,2,6
6,09/10/2017,59 ST,NQR456W,02-00-01,08:00:00,6,13,6
7,09/10/2017,59 ST,NQR456W,02-00-01,12:00:00,13,38,6
8,09/10/2017,59 ST,NQR456W,02-00-01,16:00:00,120,30,6
9,09/10/2017,59 ST,NQR456W,02-00-01,20:00:00,157,29,6
10,09/10/2017,59 ST,NQR456W,02-03-00,04:00:00,5,17,6
11,09/10/2017,59 ST,NQR456W,02-03-00,08:00:00,6,41,6
12,09/10/2017,59 ST,NQR456W,02-03-00,12:00:00,29,206,6
13,09/10/2017,59 ST,NQR456W,02-03-00,16:00:00,71,262,6
14,09/10/2017,59 ST,NQR456W,02-03-00,20:00:00,83,228,6
15,09/10/2017,59 ST,NQR456W,02-03-01,04:00:00,36,27,6
16,09/10/2017,59 ST,NQR456W,02-03-01,08:00:00,9,32,6
17,09/10/2017,59 ST,NQR456W,02-03-01,12:00:00,94,242,6
18,09/10/2017,59 ST,NQR456W,02-03-01,16:00:00,190,288,6
19,09/10/2017,59 ST,NQR456W,02-03-01,20:00:00,218,259,6
20,09/10/2017,59 ST,NQR456W,02-03-02,04:00:00,29,29,6
21,09/10/2017,59 ST,NQR456W,02-03-02,08:00:00,21,44,6
22,09/10/2017,59 ST,NQR456W,02-03-02,12:00:00,73,190,6
23,09/10/2017,59 ST,NQR456W,02-03-02,16:00:00,185,186,6
24,09/10/2017,59 ST,NQR456W,02-03-02,20:00:00,199,158,6
25,09/10/2017,59 ST,NQR456W,02-03-03,04:00:00,33,11,6
26,09/10/2017,59 ST,NQR456W,02-03-03,08:00:00,4,36,6
27,09/10/2017,59 ST,NQR456W,02-03-03,12:00:00,68,155,6
28,09/10/2017,59 ST,NQR456W,02-03-03,16:00:00,149,116,6
29,09/10/2017,59 ST,NQR456W,02-03-03,20:00:00,162,82,6
...,...,...,...,...,...,...,...,...
23469,09/10/2017,BAYCHESTER AV,5,00-00-02,05:00:00,10,8,6
23470,09/10/2017,BAYCHESTER AV,5,00-00-02,09:00:00,91,8,6
23471,09/10/2017,BAYCHESTER AV,5,00-00-02,13:00:00,115,9,6
23472,09/10/2017,BAYCHESTER AV,5,00-00-02,17:00:00,108,21,6
23473,09/10/2017,BAYCHESTER AV,5,00-00-02,21:00:00,83,12,6
23474,09/10/2017,EASTCHSTER/DYRE,5,00-00-00,05:00:00,8,15,6
23475,09/10/2017,EASTCHSTER/DYRE,5,00-00-00,09:00:00,44,70,6
23476,09/10/2017,EASTCHSTER/DYRE,5,00-00-00,13:00:00,219,225,6
23477,09/10/2017,EASTCHSTER/DYRE,5,00-00-00,17:00:00,202,271,6
23478,09/10/2017,EASTCHSTER/DYRE,5,00-00-00,21:00:00,22,68,6
23479,09/10/2017,EASTCHSTER/DYRE,5,00-00-01,05:00:00,40,77,6
23480,09/10/2017,EASTCHSTER/DYRE,5,00-00-01,09:00:00,151,147,6
23481,09/10/2017,EASTCHSTER/DYRE,5,00-00-01,13:00:00,55,153,6
23482,09/10/2017,EASTCHSTER/DYRE,5,00-00-01,17:00:00,135,265,6
23483,09/10/2017,EASTCHSTER/DYRE,5,00-00-01,21:00:00,65,161,6
23484,09/10/2017,EASTCHSTER/DYRE,5,00-00-02,05:00:00,8,38,6
23485,09/10/2017,EASTCHSTER/DYRE,5,00-00-02,09:00:00,38,50,6
23486,09/10/2017,EASTCHSTER/DYRE,5,00-00-02,13:00:00,0,18,6
23487,09/10/2017,EASTCHSTER/DYRE,5,00-00-02,17:00:00,0,3,6
23488,09/10/2017,EASTCHSTER/DYRE,5,00-00-02,21:00:00,95,186,6
23489,09/10/2017,EASTCHSTER/DYRE,5,00-00-03,05:00:00,0,0,6
23490,09/10/2017,EASTCHSTER/DYRE,5,00-00-03,09:00:00,0,0,6
23491,09/10/2017,EASTCHSTER/DYRE,5,00-00-03,13:00:00,0,7,6
23492,09/10/2017,EASTCHSTER/DYRE,5,00-00-03,17:00:00,0,0,6
23493,09/10/2017,EASTCHSTER/DYRE,5,00-00-03,21:00:00,85,96,6
23494,09/10/2017,EASTCHSTER/DYRE,5,00-00-04,05:00:00,0,0,6
23495,09/10/2017,EASTCHSTER/DYRE,5,00-00-04,09:00:00,0,0,6
23496,09/10/2017,EASTCHSTER/DYRE,5,00-00-04,13:00:00,0,0,6
23497,09/10/2017,EASTCHSTER/DYRE,5,00-00-04,17:00:00,0,0,6
23498,09/10/2017,EASTCHSTER/DYRE,5,00-00-04,21:00:00,8,20,6

In [345]:
#shinyhappypeople.head(50)
#df_SS.tail()
shinyhappypeople

          DATE STATION LINENAME        ID      HOUR ENTRIES EXITS WEEKDAY
0   09/10/2017   59 ST  NQR456W  02-00-00  04:00:00      16     4       6
1   09/10/2017   59 ST  NQR456W  02-00-00  08:00:00      12    16       6
2   09/10/2017   59 ST  NQR456W  02-00-00  12:00:00      98    68       6
3   09/10/2017   59 ST  NQR456W  02-00-00  16:00:00     186    48       6
4   09/10/2017   59 ST  NQR456W  02-00-00  20:00:00     198    43       6
5   09/10/2017   59 ST  NQR456W  02-00-01  04:00:00      13     2       6
6   09/10/2017   59 ST  NQR456W  02-00-01  08:00:00       6    13       6
7   09/10/2017   59 ST  NQR456W  02-00-01  12:00:00      13    38       6
8   09/10/2017   59 ST  NQR456W  02-00-01  16:00:00     120    30       6
9   09/10/2017   59 ST  NQR456W  02-00-01  20:00:00     157    29       6
10  09/10/2017   59 ST  NQR456W  02-03-00  04:00:00       5    17       6
11  09/10/2017   59 ST  NQR456W  02-03-00  08:00:00       6    41       6
12  09/10/2017   59 ST  NQR456W  02-03-00  12:00:00      29   206       6
13  09/10/2017   59 ST  NQR456W  02-03-00  16:00:00      71   262       6
14  09/10/2017   59 ST  NQR456W  02-03-00  20:00:00      83   228       6
15  09/10/2017   59 ST  NQR456W  02-03-01  04:00:00      36    27       6
16  09/10/2017   59 ST  NQR456W  02-03-01  08:00:00       9    32       6
17  09/10/2017   59 ST  NQR456W  02-03-01  12:00:00      94   242       6
18  09/10/2017   59 ST  NQR456W  02-03-01  16:00:00     190   288       6
19  09/10/2017   59 ST  NQR456W  02-03-01  20:00:00     218   259       6
20  09/10/2017   59 ST  NQR456W  02-03-02  04:00:00      29    29       6
21  09/10/2017   59 ST  NQR456W  02-03-02  08:00:00      21    44       6
22  09/10/2017   59 ST  NQR456W  02-03-02  12:00:00      73   190       6
23  09/10/2017   59 ST  NQR456W  02-03-02  16:00:00     185   186       6
24  09/10/2017   59 ST  NQR456W  02-03-02  20:00:00     199   158       6
25  09/10/2017   59 ST  NQR456W  02-03-03  04:00:00      33    11       6
26  09/10/2017   59 ST  NQR456W  02-03-03  08:00:00       4    36       6
27  09/10/2017   59 ST  NQR456W  02-03-03  12:00:00      68   155       6
28  09/10/2017   59 ST  NQR456W  02-03-03  16:00:00     149   116       6
29  09/10/2017   59 ST  NQR456W  02-03-03  20:00:00     162    82       6
30  09/10/2017   59 ST  NQR456W  02-03-04  04:00:00      29     6       6
31  09/10/2017   59 ST  NQR456W  02-03-04  08:00:00      14    21       6
32  09/10/2017   59 ST  NQR456W  02-03-04  12:00:00      69    66       6
33  09/10/2017   59 ST  NQR456W  02-03-04  16:00:00     158    53       6
34  09/10/2017   59 ST  NQR456W  02-03-04  20:00:00     194    40       6
35  09/10/2017   59 ST  NQR456W  02-03-05  04:00:00      77     1       6
36  09/10/2017   59 ST  NQR456W  02-03-05  08:00:00      51     6       6
37  09/10/2017   59 ST  NQR456W  02-03-05  12:00:00     179    15       6
38  09/10/2017   59 ST  NQR456W  02-03-05  16:00:00     291    14       6
39  09/10/2017   59 ST  NQR456W  02-03-05  20:00:00     325    12       6
40  09/10/2017   59 ST  NQR456W  02-03-06  04:00:00      20     2       6
41  09/10/2017   59 ST  NQR456W  02-03-06  08:00:00      26     1       6
42  09/10/2017   59 ST  NQR456W  02-03-06  12:00:00      86     3       6
43  09/10/2017   59 ST  NQR456W  02-03-06  16:00:00     164     5       6
44  09/10/2017   59 ST  NQR456W  02-03-06  20:00:00     195     5       6
45  09/10/2017   59 ST  NQR456W  02-05-00  04:00:00       0   NaN       6
46  09/10/2017   59 ST  NQR456W  02-05-00  08:00:00       0   NaN       6
47  09/10/2017   59 ST  NQR456W  02-05-00  12:00:00       0   NaN       6
48  09/10/2017   59 ST  NQR456W  02-05-00  16:00:00       0   NaN       6
49  09/10/2017   59 ST  NQR456W  02-05-00  20:00:00       0   NaN       6

In [346]:
import pickle
# to save a pickle file
path = '/Users/ada/Dropbox/metis/MTABenson_metis/pklfiles/'
with open(path + 'shinyhappypeople.pkl', 'wb') as picklefile:
    pickle.dump(shinyhappypeople, picklefile)

In [ ]:
# to open a pickle file
with open(path + "subset_df.pkl", 'rb') as picklefile: 
    test = pickle.load(picklefile)

In [356]:
ff =  shinyhappypeople.groupby(['DATE', 'LINENAME','STATION','ID']).sum().sort_values('ENTRIES')
ff.tail()

                                                                               HOUR  \
DATE       LINENAME STATION      ID
09/10/2017 NQRW     49 ST        01-05-01  04:00:0008:00:0012:00:0016:00:0020:00:00
           NRW      59 ST        01-05-01  04:00:0008:00:0012:00:0016:00:0020:00:00
           Q        OCEAN PKWY   01-05-01  04:00:0008:00:0012:00:0016:00:0020:00:00
           R        86 ST        01-05-01  04:00:0008:00:0012:00:0016:00:0020:00:00
           RNW      CORTLANDT ST 00-06-04  05:00:0009:00:0013:00:0017:00:0021:00:00

                                           ENTRIES  EXITS  WEEKDAY
DATE       LINENAME STATION      ID
09/10/2017 NQRW     49 ST        01-05-01      NaN    0.0       30
           NRW      59 ST        01-05-01      NaN    0.0       30
           Q        OCEAN PKWY   01-05-01      NaN    0.0       30
           R        86 ST        01-05-01      NaN    0.0       30
           RNW      CORTLANDT ST 00-06-04      NaN    0.0       30

In [ ]:
# API key for google maps AIzaSyAnnbZDc8d0XKWXH8Mp__FvU4-HV7lMkbQ