### Imports

In [121]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import fiona
import shapely.geometry
import common
from shapely.geometry import Point, Polygon
from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

### Inputs that will change

In [150]:
number_of_stations = 5
date = '09/24/2017'

### Make df of all subway stations

In [151]:
df_columns = ['STATION_ID', 'COMPLEX_ID', 'GTFS_STOP_ID', 'DIVISION', 'LINE', 'STOP_NAME', 'BOROUGH', 'DAYTIME_ROUTES', 'STRUCTURE', 'LATITUDE', 'LONGITUDE']
df_train_stops = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')
df_train_stops.columns=df_columns

In [152]:
df_train_stops[df_train_stops['STOP_NAME'].str.contains('Grand Cen')]

,STATION_ID,COMPLEX_ID,GTFS_STOP_ID,DIVISION,LINE,STOP_NAME,BOROUGH,DAYTIME_ROUTES,STRUCTURE,LATITUDE,LONGITUDE
400,402,610,631,IRT,Lexington - Shuttle,Grand Central - 42 St,M,4 5 6,Subway,40.751776,-73.976848
463,465,610,723,IRT,Flushing,Grand Central - 42 St,M,7,Subway,40.751431,-73.976041
467,469,610,901,IRT,Lexington - Shuttle,Grand Central - 42 St,M,S,Subway,40.752769,-73.979189

### Load cleaned turnstile data - CHECK PATH

In [153]:
path = '/Users/murdock/Documents/Metis/MTABenson_metis/pklfiles/'
with open(path + 'another100_final.pkl', 'rb') as pickle_file:
    df = pickle.load(pickle_file)

In [154]:
df.head()

,DATE,STATION,LINENAME,SCP,TIME,ENTRIES,EXITS,ENTRY_DIFF,EXIT_DIFF,HR_DELTA,WEEKDAY,MAX,EN_HRLY_RATE,EX_HRLY_RATE,DATE_OBJ
1,04/30/2016,59 ST,NQR456,02-00-00,4,5639991,1909993,50.0,10.0,4.0,5,2880.0,12.50,2.50,2016-04-30
2,04/30/2016,59 ST,NQR456,02-00-00,8,5640014,1910024,23.0,31.0,4.0,5,2880.0,5.75,7.75,2016-04-30
3,04/30/2016,59 ST,NQR456,02-00-00,12,5640158,1910134,144.0,110.0,4.0,5,2880.0,36.00,27.50,2016-04-30
4,04/30/2016,59 ST,NQR456,02-00-00,16,5640454,1910197,296.0,63.0,4.0,5,2880.0,74.00,15.75,2016-04-30
5,04/30/2016,59 ST,NQR456,02-00-00,20,5640802,1910254,348.0,57.0,4.0,5,2880.0,87.00,14.25,2016-04-30

In [155]:
df[['STATION', 'LINENAME', 'ENTRIES', 'EXITS']].groupby(['STATION', 'LINENAME']).sum()

                                    ENTRIES          EXITS
STATION         LINENAME
1 AV            L              866202079166  1171386542196
103 ST          1               33422997277    17657744570
                6               34403674506   303052681694
                BC              14699432622    13047215570
103 ST-CORONA   7               37940378398    35772000968
104 ST          A              983287993967   985027493757
                JZ            1378175317239   834782350032
110 ST          6               16344758702    16424419602
111 ST          7               24113182141    14548290099
                A               41942141544    15571173864
                J                8857296677     8064632419
116 ST          23              18140902908     8694744887
                6               22030024568    18431757253
                BC             928059898599  1144194433524
116 ST-COLUMBIA 1              686899890501   145984617272
121 ST          JZ               6227996117     3566737876
125 ST          1              370235908048   191100001354
                23            2083152639396  1300734486357
                456           1153041221059   495790255824
                ACBD           273425240600   227299437816
135 ST          23              22306568902     9097648278
                BC             113888685109    17435511154
137 ST CITY COL 1              253044430296   502077586471
138/GRAND CONC  45             558356936050   539172031632
14 ST           123FLM         833491357511   885891069822
                ACEL           745213400942   351229954594
                FLM123          33674541249    35730386878
14 ST-UNION SQ  456LNQR         86329977702    22559008723
                456LNQRW        86140535470    24421357048
                LNQR456        322035997831   122076822593
...                                     ...            ...
TIMES SQ-42 ST  ACENQRS1237      3507226711     5292075092
                ACENQRS1237W     4641928421     6983845225
TOMPKINSVILLE   1                6187667061     1682587479
TREMONT AV      BD              75478978033     7054608520
TWENTY THIRD ST 1                2201709768     1407922696
UNION ST        R               12083742342    12544109256
UTICA AV        AC              81242665727    29386733707
V.CORTLANDT PK  1               10820664611     4225972105
VAN SICLEN AV   3                8602849814     5192951910
                JZ               7309769546     7167201767
VAN SICLEN AVE  C                7092843465     7324834892
VERNON-JACKSON  7               20052889338    13702954250
W 4 ST-WASH SQ  ABCDEFM        356849815724   294942406495
W 8 ST-AQUARIUM FQ               6424165136     6944035876
WAKEFIELD/241   2                9833815839    10158975004
WALL ST         23              64349726690    56654705686
                45             361513925902   190103786941
WEST FARMS SQ   25             247405146853    40596865890
WESTCHESTER SQ  6               13953470239    12917287417
WHITEHALL S-FRY R1              75040710436    17712894912
                R1W             76080256239    18909325948
WHITLOCK AV     6              125374495765    12045786549
WILSON AV       L                6347857215     5700246869
WINTHROP ST     25              15739773619     3072053533
WOODHAVEN BLVD  JZ              66899674930    36331093919
                MR              29575369113    20334682721
WOODLAWN        4               16374647167     6555677718
WORLD TRADE CTR ACE23           20806029632    10518352852
YORK ST         F               19082260302    17033024047
ZEREGA AV       6               30260907596      584375298

[509 rows x 2 columns]

### Function to select top stations on a given weekday

In [156]:

def select_stations(date, number_of_stations, df):
    """
    Returns a dataframe with the top stations based on total entries and exits per station on a given day.
    
    Inputs:
    date: the date people will be handing out flyers, a string in the form mm/dd/yyyy
    number_of_stations: the number of stations where people will be handing out flyers
    df: a dataframe of cleaned turnstile data
    
    Returns:
    A dataframe with the weekday, linename, station, and total number of entries and exits
    """
    desired_date = datetime.strptime(date, '%m/%d/%Y').weekday()
    df.dropna(how = 'any', inplace=True)
    df['TOTAL'] = df['ENTRY_DIFF'] + df['EXIT_DIFF']
    extract_data_df = df[['DATE_OBJ', 'STATION', 'SCP', 'TOTAL', 'LINENAME', 'WEEKDAY']]
    sorted_df = extract_data_df.sort_values(['WEEKDAY', 'TOTAL'], ascending=[True,False])
    grouped_df = sorted_df.groupby(['WEEKDAY', 'LINENAME', 'STATION']).sum().reset_index().sort_values(['TOTAL'], ascending=False)
    station_df = grouped_df[grouped_df['WEEKDAY']==desired_date][['WEEKDAY', 'LINENAME', 'STATION', 'TOTAL']].iloc[:number_of_stations + 50]
    return station_df
    
stations = select_stations(date, 5, df)

In [157]:
stations.head()

      WEEKDAY  LINENAME          STATION         TOTAL
3326        6  BDFMNQRW  34 ST-HERALD SQ  3.268863e+09
3459        6         L             1 AV  1.788441e+09
3139        6        25       BEVERLY RD  1.336935e+09
3333        6        BQ         AVENUE M  2.684398e+08
3186        6     4567S  GRD CNTRL-42 ST  8.652050e+07

### Function to obtain latitude and longitude for each top station

In [158]:
train_stops_for_mapping = df_train_stops['STOP_NAME']
train_lines_for_mapping = df_train_stops['DAYTIME_ROUTES']

In [159]:
def find_lat_and_long(station_df):
    """
    Returns a list of stations, stop names, and the corresponding lat and long
    
    Inputs:
    station_df: a dataframe of weekday, linename, station, and total number of entries and exits.
    
    Outputs:
    a nested list of plotting data of the format station, stop_name, lat, and long
    """
    plotting_data = []
    for i, station in enumerate(station_df['STATION']):
        stop = process.extractOne(station, train_stops_for_mapping, scorer=fuzz.token_set_ratio)
        routes = df_train_stops[df_train_stops['STOP_NAME'] == stop[0]]['DAYTIME_ROUTES']
        line = [li for li in station_df['LINENAME']]
        line2 = process.extractOne(line[i], routes, scorer=fuzz.token_set_ratio)
        a = df_train_stops[(df_train_stops['STOP_NAME']==stop[0])&(df_train_stops['DAYTIME_ROUTES']==line2[0])]['LATITUDE']
        b = df_train_stops[(df_train_stops['STOP_NAME']==stop[0])&(df_train_stops['DAYTIME_ROUTES']==line2[0])]['LONGITUDE']
        plotting_data.append([stop[0], line2[0], [lat for lat in a][0], [long for  long in b][0]])
    return plotting_data


station_coord = find_lat_and_long(stations)
station_coord_df = pd.DataFrame(station_coord, columns=['STATION', 'STOP_NAME', 'LAT', 'LONG'])

In [160]:
station_coord_df.head()

                 STATION STOP_NAME        LAT       LONG
0      34 St - Herald Sq   N Q R W  40.749567 -73.987950
1                   1 Av         L  40.730953 -73.981628
2             Beverly Rd       2 5  40.645098 -73.948959
3               Avenue M       B Q  40.617618 -73.959399
4  Grand Central - 42 St     4 5 6  40.751776 -73.976848

### Taking top matches and determining block and median income. CHECK FILENAME PATH

In [161]:
filename = '/Users/murdock/Documents/metis/MTABenson_metis/thematic_map_shape/nyshapefile.shp'
blocks = []
with fiona.open(filename) as data:
    for block_data in data:
        geometry = shapely.geometry.shape(block_data['geometry'])
        block = block_data['properties']['GEO_ID']
        blocks.append([block, block_data['geometry']['coordinates']])

In [162]:
latitudes = [lat for lat in station_coord_df['LAT']]
longitudes = [long for long in station_coord_df['LONG']]
stations = [location for location in station_coord_df['STATION']]
stops = [stop for stop in station_coord_df['STOP_NAME']]
coordinates = list(zip(stations, stops, longitudes, latitudes))

In [163]:
geo_id = []
for block in blocks:
    if len(block[1][0]) >= 3:
        poly = Polygon(block[1][0])
        for coord in coordinates:
            point = Point(coord[2:])
            if poly.contains(point):
                #print(block[0])
                geo_id.append([coord, block[0]])
    
print(len(geo_id), len(coordinates))
print(geo_id[0])

50 55
[('59 St', 'N R', -74.017881000000003, 40.641362000000001), '1500000US360470074002']

### Make a df of stations and which block from census data they are located within

In [164]:
columns=['STATION', 'STOP_NAME', 'LATITUDE', 'LONGITUDE', 'GEO_ID']
geo_data = []
for stations in geo_id:
    station = stations[0][0]
    stop = stations[0][1]
    lat = stations[0][3]
    lon = stations[0][2]
    geo = stations[1]
    geo_data.append([station, stop, lat, lon, geo])
income_df = pd.DataFrame(geo_data, columns=columns)

In [165]:
income_df.head()

,STATION,STOP_NAME,LATITUDE,LONGITUDE,GEO_ID
0,59 St,N R,40.641362,-74.017881,1500000US360470074002
1,Times Sq - 42 St,1 2 3,40.755290,-73.987495,1500000US360610113001
2,Times Sq - 42 St,N Q R W,40.754672,-73.986754,1500000US360610113001
3,42 St - Bryant Pk,B D F M,40.754222,-73.984569,1500000US360610113001
4,Coney Island - Stillwell Av,D F N Q,40.577422,-73.981233,1500000US360470350002

### Load census data and merge the df with the previous one to obtain median income near each station. CHECK TABLE PATH

In [166]:
income_table = pd.read_csv('/Users/murdock/Documents/metis/MTABenson_metis/ACS_15_5YR_B19013_with_ann.csv')

In [167]:
income_table = income_table.drop(income_table.index[0])
income_table.columns=['GEO_ID', 'GEO_ID2', 'GEO_DISPLAY_LABEL', 'MEDIAN_INCOME', 'MARGIN_OF_ERROR']
income_table.head()

,GEO_ID,GEO_ID2,GEO_DISPLAY_LABEL,MEDIAN_INCOME,MARGIN_OF_ERROR
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",-,**
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",-,**
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",-,**
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",61344,14654
5,1500000US360050002002,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",71768,27738

In [168]:
final_station_selection_df = pd.merge(income_df, income_table, on='GEO_ID', how='left')

In [169]:
final_station_selection_df.head()

,STATION,STOP_NAME,LATITUDE,LONGITUDE,GEO_ID,GEO_ID2,GEO_DISPLAY_LABEL,MEDIAN_INCOME,MARGIN_OF_ERROR
0,59 St,N R,40.641362,-74.017881,1500000US360470074002,360470074002,"Block Group 2, Census Tract 74, Kings County, ...",58804,12572
1,Times Sq - 42 St,1 2 3,40.755290,-73.987495,1500000US360610113001,360610113001,"Block Group 1, Census Tract 113, New York Coun...",82361,29445
2,Times Sq - 42 St,N Q R W,40.754672,-73.986754,1500000US360610113001,360610113001,"Block Group 1, Census Tract 113, New York Coun...",82361,29445
3,42 St - Bryant Pk,B D F M,40.754222,-73.984569,1500000US360610113001,360610113001,"Block Group 1, Census Tract 113, New York Coun...",82361,29445
4,Coney Island - Stillwell Av,D F N Q,40.577422,-73.981233,1500000US360470350002,360470350002,"Block Group 2, Census Tract 350, Kings County,...",28359,20779

In [170]:
final_station_selection_df.to_pickle('income_mta_sunday.pkl')

### Selects the top stations based on median income

In [171]:
def top_stations(number_of_stations, df):
    """
    Selects stations that have the highest median income
    
    Inputs:
    number_of_stations: the number of stations where people will be handing out flyers
    df: a dataframe consisting of stations, lat and long, geo_id, and median incomes for the area
    
    Returns:
    a dataframe of the top stations based on income
    """
    selection_df = final_station_selection_df[['STATION', 'STOP_NAME', 'LATITUDE', 'LONGITUDE', 'MEDIAN_INCOME']]
    candidates = selection_df.sort_values('MEDIAN_INCOME', ascending=False)[:number_of_stations]
    return candidates

stations = top_stations(number_of_stations, final_station_selection_df)

In [172]:
stations.head()

        STATION STOP_NAME   LATITUDE  LONGITUDE MEDIAN_INCOME
17  Delancey St         F  40.718611 -73.988114         93643
38       103 St       B C  40.796092 -73.961454         92121
21   Bedford Av         L  40.717304 -73.956872         90370
15         2 Av         F  40.723402 -73.989938         89398
42     Grand St       B D  40.718267 -73.993753         86957

In [63]:
stations.to_pickle('final_stations.pkl')