In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [2]:
df_train_stops = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')

In [3]:
df_train_stops.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

In [11]:
len(df_train_stops['Stop Name'].unique())

376

### Making a df from turnstile data

In [5]:
dates = ['170624', '170617', '170610', '170603', '170527', '170520', '170513', '170506', '160625', '160618', '160611', '160604', '160528', '160521', '160514', '160507']

chronological_dates = list(reversed(dates))

In [7]:
turnstile_df = pd.DataFrame()

for date in chronological_dates:
    base = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
    url = base + date + '.txt'
    print(url)
    df = pd.read_csv(url)
    turnstile_df = pd.concat([turnstile_df, df], ignore_index=True)

http://web.mta.info/developers/data/nyct/turnstile/turnstile_160507.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160514.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160521.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160528.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160604.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160611.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160618.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160625.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170506.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170513.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170520.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170527.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170603.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170610.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170617.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170624.txt

In [8]:
turnstile_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197

In [10]:
len(turnstile_df['STATION'].unique())

380

In [14]:
for item in turnstile_df['STATION'].str.lower().unique():
    if item not in df_train_stops['Stop Name'].str.lower().unique():
        print(item)

57 st-7 av
times sq-42 st
34 st-herald sq
14 st-union sq
8 st-nyu
whitehall s-fry
delancey/essex
park place
beverley road
jay st-metrotec
atl av-barclay
4av-9 st
ft hamilton pky
coney is-stillw
w 8 st-aquarium
myrtle-wyckoff
bushwick av
new lots
east 105 st
canarsie-rockaw
howard bch jfk
jfk jamaica ct1
75 st-elderts
85 st-forest pk
knickerbocker
seneca ave
forest ave
inwood-207 st
163 st-amsterdm
81 st-museum
59 st columbus
42 st-port auth
34 st-penn sta
w 4 st-wash sq
world trade ctr
hoyt-scher
clinton-wash av
kingston-throop
van siclen ave
ozone pk leffrt
aqueduct n.cond
aqueduct racetr
rockaway park b
far rockaway
161/yankee stad
bedford pk blvd
norwood 205 st
lexington av/53
court sq-23 st
jksn ht-roosvlt
grand-newtown
63 dr-rego park
forest hills 71
kew gardens
briarwood
jamaica 179 st
nassau st
myrtle-willough
bedford-nostran
47-50 sts rock
42 st-bryant pk
b'way-lafayette
smith-9 st
4 av-9 st
15 st-prospect
lexington av/63
roosevelt islnd
21 st-qnsbridge
jamaica van wk
sutphin-archer
jamaica center
orchard beach
newark hw bmebe
harrison
journal square
grove street
exchange place
pavonia/newport
city / bus
path wtc
christopher st
9th street
14th street
twenty third st
thirty st
lackawanna
thirty third st
newark bm bw
newark c
newark hm he
path wtc 2
66 st-lincoln
116 st-columbia
137 st city col
marble hill-225
v.cortlandt pk
brooklyn bridge
grd cntrl-42 st
68st-hunter co
138/grand conc
149/grand conc
central pk n110
harlem 148 st
3 av-149 st
west farms sq
wakefield/241
3 av 138 st
e 143/st mary's
morisn av/sndvw
westchester sq
5 ave
vernon-jackson
hunters pt av
queensboro plz
astoria ditmars
33 st-rawson st
40 st lowery st
46 st bliss st
61 st woodside
74 st-broadway
82 st-jackson h
90 st-elmhurst
103 st-corona
mets-willets pt
flushing-main
34 st-hudson yd
grand army plaz
eastn pkwy-musm
crown hts-utica
sutter av-rutld
flatbush av-b.c
eastchster/dyre
st. george
rit-manhattan
rit-roosevelt
bay ridge-95 st
72 st-2 ave
86 st-2 ave
96 st-2 ave
path new wtc

In [26]:
turnstile_df[turnstile_df['STATION'].str.lower() == 'st. george']

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
192645,S101,R070,00-00-00,ST. GEORGE,1,SRT,04/30/2016,00:00:00,REGULAR,859377,158
192646,S101,R070,00-00-00,ST. GEORGE,1,SRT,04/30/2016,04:00:00,REGULAR,859379,158
192647,S101,R070,00-00-00,ST. GEORGE,1,SRT,04/30/2016,08:00:00,REGULAR,859399,158
192648,S101,R070,00-00-00,ST. GEORGE,1,SRT,04/30/2016,12:00:00,REGULAR,859433,158
192649,S101,R070,00-00-00,ST. GEORGE,1,SRT,04/30/2016,16:00:00,REGULAR,859468,158
192650,S101,R070,00-00-00,ST. GEORGE,1,SRT,04/30/2016,20:00:00,REGULAR,859496,158
192651,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/01/2016,00:00:00,REGULAR,859509,158
192652,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/01/2016,04:00:00,REGULAR,859509,158
192653,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/01/2016,07:21:51,REGULAR,859526,158
192654,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/01/2016,08:00:00,REGULAR,859534,158
192655,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/01/2016,12:00:00,REGULAR,859560,158
192656,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/01/2016,16:00:00,REGULAR,859588,158
192657,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/01/2016,20:00:00,REGULAR,859605,158
192658,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/02/2016,00:00:00,REGULAR,859618,158
192659,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/02/2016,04:00:00,REGULAR,859625,158
192660,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/02/2016,08:00:00,REGULAR,859942,158
192661,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/02/2016,12:00:00,REGULAR,860131,158
192662,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/02/2016,16:00:00,REGULAR,860191,158
192663,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/02/2016,20:00:00,REGULAR,860229,158
192664,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/03/2016,00:00:00,REGULAR,860237,158
192665,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/03/2016,04:00:00,REGULAR,860242,158
192666,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/03/2016,08:00:00,REGULAR,860577,158
192667,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/03/2016,12:00:00,REGULAR,860791,158
192668,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/03/2016,16:00:00,REGULAR,860844,158
192669,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/03/2016,20:00:00,REGULAR,860887,158
192670,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/04/2016,00:00:00,REGULAR,860892,158
192671,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/04/2016,04:00:00,REGULAR,860895,158
192672,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/04/2016,08:00:00,REGULAR,861237,158
192673,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/04/2016,12:00:00,REGULAR,861447,158
192674,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/04/2016,16:00:00,REGULAR,861515,158
...,...,...,...,...,...,...,...,...,...,...,...
3126509,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/19/2017,00:00:00,REGULAR,470,0
3126510,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/19/2017,04:00:00,REGULAR,470,0
3126511,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/19/2017,08:00:00,REGULAR,470,0
3126512,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/19/2017,12:00:00,REGULAR,471,0
3126513,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/19/2017,16:00:00,REGULAR,471,0
3126514,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/19/2017,20:00:00,REGULAR,471,0
3126515,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/20/2017,00:00:00,REGULAR,471,0
3126516,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/20/2017,04:00:00,REGULAR,471,0
3126517,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/20/2017,08:00:00,REGULAR,471,0
3126518,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/20/2017,12:00:00,REGULAR,471,0
3126519,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/20/2017,16:00:00,REGULAR,471,0
3126520,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/20/2017,20:00:00,REGULAR,471,0
3126521,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/21/2017,00:00:00,REGULAR,471,0
3126522,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/21/2017,04:00:00,REGULAR,471,0
3126523,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/21/2017,08:00:00,REGULAR,471,0
3126524,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/21/2017,12:00:00,REGULAR,471,0
3126525,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/21/2017,16:00:00,REGULAR,471,0
3126526,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/21/2017,20:00:00,REGULAR,471,0
3126527,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/22/2017,00:00:00,REGULAR,471,0
3126528,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/22/2017,04:00:00,REGULAR,471,0
3126529,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/22/2017,08:00:00,REGULAR,471,0
3126530,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/22/2017,12:00:00,REGULAR,472,0
3126531,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/22/2017,16:00:00,REGULAR,472,0
3126532,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/22/2017,20:00:00,REGULAR,472,0
3126533,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/23/2017,00:00:00,REGULAR,472,0
3126534,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/23/2017,04:00:00,REGULAR,472,0
3126535,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/23/2017,08:00:00,REGULAR,472,0
3126536,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/23/2017,12:00:00,REGULAR,472,0
3126537,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/23/2017,16:00:00,REGULAR,472,0
3126538,S101A,R070,01-05-01,ST. GEORGE,1,SRT,06/23/2017,20:00:00,REGULAR,472,0

In [27]:
df_train_stops[df_train_stops['Stop Name'].str.lower().contains('norwood')]

AttributeError: 'Series' object has no attribute 'contains'

In [1]:
col_names = turnstile_df.columns
for col in col_names:
    if df[col].dtype == 'object':
        print(col)

NameError: name 'turnstile_df' is not defined

In [ ]:
time00 = (turnstile_df.loc[(turnstile_df.DATE == '09/09/2017') & (turnstile_df.TIME == '00:00:00'), :]) #get rows for start of day
time20 = (turnstile_df.loc[(turnstile_df.DATE == '09/09/2017') & (turnstile_df.TIME == '20:00:00'), :])  # get rows for end of day
print(len(time00))
print(len(time20))
#print(time20.SCP.iloc[2])
pplDelta = pd.Series(range(len(time20)))  #create data frame
for row in range(len(time20)): 
    if time20.SCP.iloc[row] == time00.SCP.iloc[row]:  # if the SCP col is the same = same turnstyle
        pplDelta[row] = int(time20.ENTRIES.iloc[row]) - int(time00.ENTRIES.iloc[row])  #subtract numb from start of day from end of day for each turnstyle
    else:
        continue  # skip if if there's not a pair of numbers for a turn style
print(len(pplDelta))